/* 容器为栅格布局 */
.container{
    display: grid;
    box-shadow: 0px 10px 50px 10px lightgrey;  /*简历周围阴影*/
    width: 1000px;
    margin: 50px auto;
	font-family: Times New Roman, sans-serif;
    /*background: red;*/
 
}
/* 简历上方线条 */
.topline{
    display: flex;
    flex-direction: row;
}
.top_left{
    background-color: #248CB1;
    height: 30px;
    width: 30px;
    /*transform: translate(-30px,0);  !*  向左偏移  *!*/
}
.top_left1{
    background-color: #248CB1;
    height: 30px;
    width: 200px;
    /*transform: translate(-30px,0);  !*  向左偏移  *!*/
}
 
.top_right{
    background-color: black;
    height: 30px;
    width: 100%;
    /*transform: translate(-30px,0);*/
    margin-bottom: 20px;
}
.top_right p{
    transform: translate(0,-10px);
    color: whitesmoke;
    font-weight: bold;  /*  粗体  */
}
 
/*   mid  */
.mid{
    margin-left: 30px;
	margin-right: 30px;
}
 
 
/*照片*/
.lcy{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.lcy img{
	width: 20%;
}
.lcy_mid{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
 
}
.lcy_mid span{
    font-size: 30px;
}
.lcy_len{
    width: 450px;
}
 
.lcy_right{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: flex-end;
}
.lcy_r1,.lcy_r2,.lcy_r3,.lcy_r4{
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}
 
.normal{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}